
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ChangePasswordViewModel

<h2>Change Password</h2>

<form asp-controller="UserUtils" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="OldPassword">Current Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>


