
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ChangePasswordViewModel

<h2>Change Password</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <h4>Please correct the following errors:</h4>
        <ul class="list-unstyled">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-controller="UserUtils" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="OldPassword">Current Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
    </div>
    <br/>
    <button type="submit" class="btn login-btn">Change Password</button>
</form>


