@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="my-3 text-center text-white" style="background-color: #ff6b6b; padding: 1rem;">Welcome</h1>
    <a href="@Url.Action("Login", "UserUtils")">Login</a>
</div>
