@{
    ViewData["Title"] = "AddImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddImagesViewModel

<h2>Add Images</h2>

@if (Model.CitizenshipImageExists && Model.DrivingLicenseImageExists)
{
    <p>You have already uploaded your citizenship and driving license images.</p>
}
else
{
    <form method="post" asp-action="AddImages" enctype="multipart/form-data">
            @if (!Model.CitizenshipImageExists)
            {
                <div class="form-group text-start">
                    <label asp-for="CitizenshipImage" class="control-label"></label>
                    <div class="form-outline mb-4 border shadow-2-strong" style="border-radius: 1rem;">
                        <input asp-for="CitizenshipImage" type="file" accept=".png, .jpg, .jpeg" name="CitizenshipImage" class="form-control" />
                    </div>
                </div>
            }

            @if (!Model.DrivingLicenseImageExists)
            {
                <div class="form-group text-start">
                    <label asp-for="DrivingLicenseImage" class="control-label"></label>
                    <div class="form-outline mb-4 border shadow-2-strong" style="border-radius: 1rem;">
                        <input asp-for="DrivingLicenseImage" type="file" accept=".png, .jpg, .jpeg" name="DrivingLicenseImage" class="form-control" />
                    </div>
                </div>
            }
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Upload Images</button>
    </form>
}


