
@{
    ViewData["Title"] = "Change Staff Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ChangePasswordViewModel

<h1>Change Password for @ViewBag.FirstName @ViewBag.LastName</h1>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <h4>Please correct the following errors:</h4>
        <ul class="list-unstyled">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-action="ChangePassword" asp-controller="Staff" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-group">
        <label for="OldPassword">Current Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>


