@{
    ViewData["Title"] = "Car Page";
}

@model IEnumerable<CarRentalApp.Models.Car>

@*@foreach (var car in Model)
{*@

<div class="card" style="width: 18rem;">
    <img src="images/download.jfif" class="card-img-top" alt="Car Image">
    <div class="card-body">
        <h5 class="card-title">Car ID: 12345</h5>
        <p class="card-text">Manufacturer: Ford</p>
        <p class="card-text">Model: Mustang</p>
        <p class="card-text">Color: Red</p>
        <p class="card-text">Rental Rate: $50/day</p>
        <p class="card-text">Vehicle No: XYZ 1234</p>
        <p class="card-text">Availability: Available</p>
        <p class="card-text">Offers: 10% off for weekly rentals</p>
        <a href="#" class="btn btn-primary">Book Now</a>
    </div>
</div>

@*}*@
